:root {
  --primary-color: #584d3d;
  --secondary-color: #b1c1c0;
  --tertiary-color: #dcedb9;
  --quaternary-color: #d2e59e;
  --senary-color: #cbd080;
  --septenary-color: #ff6f59;
  --octonary-color: #20fc8f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--secondary-color);
  background-color: var(--quaternary-color);
  font-family: Georgia, Helvetica, Times New Roman, Arial, sans-serif;
}

header {
  background-color: var(--primary-color);
}

.header-parent {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highscore-timer-parent {
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0.5vw;
  list-style: none;
  background-color: transparent !important;
}

.container {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.container h1 {
  text-align: center;
}

.container a {
  text-decoration: none;
  color: var(--primary-color);
}

.container:hover {
  background: white;
}

.timer {
}

.question {
  background-color: var(--tertiary-color);
}

.question-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5vw 1.5vw;
}

.question-container {
  background-color: rgb(177, 193, 192, .75);
  color: var(--primary-color);
  font-style: none;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  border-radius: 10px;
  padding: 10px;
  margin: 5%;
}

.question-container:hover {
  background-color: rgb(177, 193, 192, 1);
}

.enter-username {
  font-weight: bold;
}

.gender {
  font-size: 16px;
}

.gender:hover {
  font-size: 24px;
}

.enter-username:hover {
  color: var(--octonary-color);
  text-shadow: 0 0 10px rgb(88, 77, 61, .5);
}

.emphasis {
  font-weight: bold;
  color: var(--septenary-color);
}

.answer {
  background-color: var(--quaternary-color);
}

.answer-parent {
  display: flex;
  justify-content: space-between;
  align-items: space-around;
  margin: 0.5vw 1.5vw;
  flex-wrap: wrap;
  flex: 1;
}

.answer-container {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-style: none;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  border-radius: 1000px;
  padding: 10px;
  margin: 5%;
}

.answer-container:hover {
  background-color: white;
}

.result {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  order: 4;
  margin: 0.5vw 1.5vw;
}

.result p {
  color: var(--octonary-color);
  font-size: 24px;
  font-weight: bold;
  background: var(--primary-color);
  border-radius: 1000px;
  padding: 10px;
}

.incorrect {
  color: var(--septenary-color);
}
