:root {
  --primary-color: #09090c;
  --secondary-color: #584d3d;
  --tertiary-color: #ffffff;
  --quaternary-color: #ffd447;
  --senary-color: #69995d;
  --septenary-color: #ff6f59;
  --octonary-color: #20fc8f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--secondary-color);
  background-color: var(--quaternary-color);
  font-family: Georgia, Helvetica, Times New Roman, Arial, sans-serif;
}

header {
  background-color: var(--primary-color);
}

.header-parent {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highscore-timer-parent {
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  background-color: transparent !important;
}

.high-scores {
  opacity: .7;
}

.high-scores:hover {
  opacity: 1;
}

.container {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin: 0.5vw;
}

.high-score-container {
  background: transparent !important;
  color: var(--quaternary-color);
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.container:hover {
  color: var(--secondary-color);
}

.container h1 {
  text-align: center;
}

.container a {
  text-decoration: none;
  color: var(--primary-color);
}

.container a:hover {
  color: var(--secondary-color);
}

.question {
  background-color: var(--tertiary-color);
}

.question-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5vw 1.5vw;
}

.question-container {
  background-color: rgb(177, 193, 192, 0.75);
  color: var(--primary-color);
  font-style: none;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  border-radius: 10px;
  padding: 10px;
  margin: 5%;
}

.question-container:hover {
  background-color: rgb(177, 193, 192, 1);
}

.question-container p:hover {
  color: var(--secondary-color);
}

.enter-username {
  font-weight: bold;
}

.enter-username:hover {
  color: var(--secondary-color);
}

.emphasis {
  font-weight: bold;
  color: var(--septenary-color);
}

.answer {
  background-color: var(--quaternary-color);
}

.answer-parent {
  margin: 0.5vw 1.5vw;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.answer-container {
  background-color: var(--senary-color);
  color: var(--primary-color);
  font-style: none;
  text-decoration: none;
  font-size: 24px;
  border-radius: 10px;
  padding: 10px;
  margin: 5%;
}

.answer-container:hover {
  background-color: var(--octonary-color);
  color: var(--secondary-color);
}

.result-section {
  background-color: transparent !important;
}

.result-parent {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.result {
  margin: 0.5vw;
}

.result p {
  color: var(--octonary-color);
  background-color: var(--secondary-color);
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}

.incorrect {
  color: var(--septenary-color) !important;
}

.intro-btn {
  background: var(--senary-color);
  color: var(--tertiary-color);
  opacity: 0.8;
}

.intro-btn:hover {
  background: var(--octonary-color);
  opacity: 1;
  color: var(--secondary-color);
}
.form-input {
  opacity: 0.6;
}

.form-input:focus {
  opacity: 1;
}

.high-score-button {
  background: var(--quaternary-color);
  color: var(--primary-color);
  font-size: 18px;
  display: flex;
  justify-content: center;
  list-style: none;
}

.high-score-button:hover {
  background: var(--quaternary-color);
}

.high-score-container {
  text-align: center;
  background: transparent !important;
}

.hs-continue-bg {
  padding: 20px 35px;
  margin: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url("../images/8-bit-space.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

.margin-zero {
  margin: 0;
}

.high-score-board {
  font-size: 32px;
  padding: 10px;
  color: var(--quaternary-color);
  text-align: center;
  background: transparent !important;
  list-style: none;
  
}
